@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Noto+Sans:wght@700&family=Open+Sans:wght@400;600;800&family=Poppins:wght@600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	position: relative;
    font-family: 'Inter', sans-serif;
    color: var(--grlight-color);
	background-color: var(--light-color);
}
:root {
	--primary-color: #6366f1;
	--grlight-color: #585c7b;
	--dark-color: #131022;
	--light-color: #ffffff;
	--secondary-color: #131022;
	--gray-color: #f3f6ff;
}
.dark__theme {
	--grlight-color: rgba(255,255,255,.5);
	--primary-color: #6366f1;
	--light-color: #131022;
	--secondary-color: #ffffff;
    --gray-color: #1f1c2d;
}
.navber__wrap .nav-link.active, .text__primary, .nav-link:hover, .dark__theme .nav-link:hover {
	color: var(--primary-color, #6366f1) !important;
}
.navber__wrap .navbar-nav .nav-link, .nav-link {
	color: #3e4265;
}
.dark__theme .navber__wrap .nav-link, .dark__theme .nav-link, .dark__theme .social__icon .btn__icon i, .dark__theme .navbar-toggler, .dark__theme .navber__wrap .navbar-toggler {
	color: rgba(255,255,255,.85);
}
.bgcolor {
    background-color: var(--light-color, #ffffff);
    -webkit-box-shadow: 0 .275rem 1.25rem rgba(19,16,34,.05),0 .25rem .5625rem rgba(19,16,34,.03);
     box-shadow: 0 .275rem 1.25rem rgba(19,16,34,.05),0 .25rem .5625rem rgba(19,16,34,.03);
    top: 0;
}
.section__padding {
	padding-top: 80px;
}
.fs__5 {
	font-size: 1.15rem;
}
.fs__6 {
	font-size: 1.09rem;
}
@mixin fwandcolor {
    font-weight: 600;
	color: var(--secondary-color, #131022);
}
.display-4, h2, h3, h4, h5, h6, .accordion-button {
	@include fwandcolor;
}
a {
    font-weight: 600;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.btn {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

    &.btn__primary {
        background-color: var(--primary-color, #6366f1);
        border-color: var(--primary-color, #6366f1);
        color: #ffffff;
        -webkit-box-shadow: unset;
        box-shadow: unset;

        &:hover {
            color: #fff;
            background-color: #4044ee;
            border-color: #0a58ca;
        }
    }
}

/* End: common__Css */

/* Start: Navbar */

.navber__wrap {
	-webkit-transition: all ease-in-out 500ms;
	-o-transition: all ease-in-out 500ms;
	transition: all ease-in-out 500ms;
	top: 10px;
	position: fixed;
	z-index: 11111;
	width: 100%;

    .navbar-toggler {
        border-color: transparent;
        color: #3e4265;
        font-size: 2.25rem;
    }

    .navbar-collapse {
        .navbar-toggler {
            position: absolute;
            top: .94rem;
            right: 1rem;
            z-index: 1;
            font-size: 1.6rem;
        }
    }
    .navbar__icon {
        position: absolute;
        right: 10rem;
    
        #icon {
            width: 30px;
            cursor: pointer;
        }
    }
}


.btn__sm {
	padding: .585rem 1.25rem;
	font-weight: 600;
}
/* End: Navbar */


/* Start: Hero__Home */
.btn__dark, .btn__dark:hover  {
	background-color: #000000;
	border-color: #000;
}
.zindex__2 {
	z-index: 2;
}

.btn__icon {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 2.95rem;
	height: 2.95rem;
	padding: 0;
    font-size: .8rem;
}

.btn__light:hover {
	border-color: #ececec;
}
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* End: Hero__Home */


/* Start: Brands__Section */
.card__body {
	padding: 1.5rem 1.5rem;
    border-radius: .5rem;
}
.card__hover:not(.bg-transparent) {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}
.card__hover:not(.bg-transparent):hover {
	-webkit-transform: translateY(-0.25rem);
	-ms-transform: translateY(-0.25rem);
	transform: translateY(-0.25rem);
	-webkit-box-shadow: 0 .275rem .75rem -0.0625rem rgba(19,16,34,.06),0 .125rem .4rem -0.0625rem rgba(19,16,34,.03);
	box-shadow: 0 .275rem .75rem -0.0625rem rgba(19,16,34,.06),0 .125rem .4rem -0.0625rem rgba(19,16,34,.03);
}
.dark__theme .card__dark {
	border-color: rgba(255,255,255,.15);
	background-color: var(--dark-color, #131022);
	color: rgba(255,255,255,.7);
}
/* End: Brands__Section */


/* Start: Features__Section */
.bg__secondary {
	opacity: 1;
	background-color: var(--gray-color, #f3f6ff);
}
/* End: Features__Section */


/* Start: Video__Showcase */
.btn-group-lg > .btn, .btn__lg {
	border-radius: .355rem;
	padding: .680rem 1.75rem;
	font-weight: 600;
}
.zindex-5 {
	z-index: 5;
	cursor: pointer;
}
.bg__dark {
	opacity: 1;
	background-color: var(--dark-color, #131022);
}
.opacity__35 {
	opacity: .35;
}
.btn__icon.btn__xl {
	width: 4.5rem;
	height: 4.5rem;
}
.btn__video:hover > .btn-video {
	background-color: var(--primary-color, #6366f1) !important;
	color: #fff;
	-webkit-box-shadow: 0 .5rem 1.125rem -0.5rem rgba(99,102,241,.9);
	box-shadow: 0 .5rem 1.125rem -0.5rem rgba(99,102,241,.9);
	cursor: pointer;
}
.btn__icon > .bi-play-fill {
	font-size: 1.5rem;
}
/* End: Video__Showcase */

.description__block {
	margin-bottom: 30px;
	background: #fff;
	box-shadow: 0px 0px 29px 6px rgba(154, 161, 171, 0.18);
	-webkit-box-shadow: 0px 0px 25px 6px rgba(154, 161, 171, 0.1);
	padding: 30px 20px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 10px;
}
.dark__theme .description__block {
	background-color: rgba(255,255,255,.05);
	box-shadow: none;
}
.inner__box {
	position: relative;
}
.inner__box .step__num {
	position: absolute;
	left: 0px;
	top: 4px;
	width: 40px;
	height: 40px;
	text-align: center;
}
/* Start: Slide__Carousel */
.shadow__sm {
	-webkit-box-shadow: 0 .275rem .75rem -0.0625rem rgba(19,16,34,.06),0 .125rem .4rem -0.0625rem rgba(19,16,34,.03);
	box-shadow: 0 .275rem .75rem -0.0625rem rgba(19,16,34,.06),0 .125rem .4rem -0.0625rem rgba(19,16,34,.03);
}
.card-footer {
	padding: 1.125rem 1.5rem;
	background-color: transparent;
	border-top: 1px solid #e2e5f1;
}
.btn__icon__wh {
	width: 2.6rem;
	height: 2.2rem;
}
.shadow__primary {
	-webkit-box-shadow: 0 .5rem 1.125rem -0.5rem rgba(99,102,241,.9);
	box-shadow: 0 .5rem 1.125rem -0.5rem rgba(99,102,241,.9);
}
.fs__sm {
	font-size: 0.875rem;
}
.fs__xs {
	font-size: 0.75rem;
}
.carousel__indicators [data-bs-target] {
	width: 25px;
	height: 5px;
	background-color: var(--primary-color, #6366f1);
	border-radius: 30px;
	border-top: 0;
	border-bottom: 0;
}
.carousel__indicators {
	bottom: -80px;
}
.dark__theme .carousel__card {
	background-color: rgba(255,255,255,.05);
}
/* End: Slide__Carousel */


/* Start: FAQ__Accordion */
.dark__theme .accordion-item .accordion-button:not(.collapsed) {
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.15) !important;
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.15) !important;
	border-bottom: 0 !important;
}
.dark__theme .accordion-item .accordion-button {
	background-color: var(--dark-color, #131022);
	color: #fff;
}
.dark__theme .accordion-item {
	border-color: rgba(255,255,255,.15);
	background-color: var(--dark-color, #131022);
}
.accordion-item:not(:first-of-type) {
	border-top: 0px !important;
}
.accordion-item {
    border: 1px solid #eaecf3;
}
.accordion-button:not(.collapsed) {
    background-color: var(--light-color, #ffffff);
    -webkit-box-shadow: none;
    box-shadow: none;
	border-bottom: 1px solid #eaecf3;
	color: var(--dark-color, #131022);
}
.accordion-button:focus {
	border-color: #eaecf3;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.accordion-button::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' fill='%233e4265'%3e%3cpath d='M225.813 48.907L128 146.72 30.187 48.907 0 79.093l128 128 128-128z'/%3e%3c/svg%3e");
}
.accordion-button::after {
	width: 2.25rem;
	height: 2.25rem;
	background-position: center;
	background-color: #f3f6ff;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
	border-radius: 50%;
	background-size: .625rem;
}
.dark__theme .accordion-item .accordion-button::after {
	background-color: rgba(255,255,255,.05);
}
.accordion-button:not(.collapsed)::after, .dark__theme .accordion-button:not(.collapsed)::after {
	background-color: var(--primary-color, #6366f1);
	-webkit-box-shadow: 0 -0.5rem 1.125rem -0.5rem rgba(99,102,241,.9);
	box-shadow: 0 -0.5rem 1.125rem -0.5rem rgba(99,102,241,.9);
}
.accordion-button:not(.collapsed)::after, .dark__theme .accordion-item .accordion-button::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' fill='%23fff'%3e%3cpath d='M225.813 48.907L128 146.72 30.187 48.907 0 79.093l128 128 128-128z'/%3e%3c/svg%3e");
}
.accordion-item:first-of-type {
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
}
.accordion-item:first-of-type .accordion-button {
	border-top-left-radius: calc(.55rem - 1px);
	border-top-right-radius: calc(.55rem - 1px);
}
.accordion-item:last-of-type {
	border-bottom-right-radius: .55rem;
	border-bottom-left-radius: .55rem;
}
.accordion-item:last-of-type .accordion-button.collapsed {
	border-bottom-right-radius: calc(.55rem - 1px);
	border-bottom-left-radius: calc(.55rem - 1px);
}
/* End: FAQ__Accordion */


/* Start: Subscription__CTA */
.input-group-lg > .btn, .input-group-lg > .form-control {
	border-radius: .375rem;
}
.input-group-lg > .form-control {
	padding: .785rem 1.125rem;
	border: 1px solid #d4d7e5;
}
.input-group-lg > .form-control::placeholder {
	color: #b4b7c9;
}
.dark__theme .form-control::placeholder {
    color: rgba(255,255,255,.3);
}
.dark__theme .form-control:focus::placeholder {
	color: #b4b7c9;
}
.form-control:focus {
	-webkit-box-shadow: inset 0 0 0 transparent,0 .5rem 1.125rem -0.5rem rgba(99,102,241,.2);
	box-shadow: inset 0 0 0 transparent,0 .5rem 1.125rem -0.5rem rgba(99,102,241,.2);
}
.dark__theme .form-control:focus {
	color: #585c7b;
	background-color: #fff;
}
.dark__theme .form-control {
	border-color: rgba(255,255,255,.2);
	background-color: rgba(255,255,255,.05);
}
/* End: Subscription__CTA */


/* Start: Footer__Section */
.social__icon .btn__icon i{
	font-size: 1.09rem;
	color: #3e4265;
}
.social__icon .btn__icon:hover i, .social__icon .btn__icon:focus i, .social__icon .btn__icon:active i {
	color: #fff;
}
.btn__facebook:hover, .btn__facebook:focus, .btn__facebook:active {
	border-color: #1877f2;
	background-color: #1877f2;
	-webkit-box-shadow: 0 .375rem 1.125rem -0.375rem rgba(24,119,242,.8);
	box-shadow: 0 .375rem 1.125rem -0.375rem rgba(24,119,242,.8);
}
.btn__instagram:hover, .btn__instagram:focus, .btn__instagram:active {
	border-color: #405de6;
	background-color: #405de6;
	-webkit-box-shadow: 0 .375rem 1.125rem -0.375rem rgba(64,93,230,.8);
	box-shadow: 0 .375rem 1.125rem -0.375rem rgba(64,93,230,.8);
}
.btn__twitter:hover, .btn__twitter:focus, .btn__twitter:active {
	border-color: #1da1f2;
	background-color: #1da1f2;
	-webkit-box-shadow: 0 .375rem 1.125rem -0.375rem rgba(29,161,242,.8);
	box-shadow: 0 .375rem 1.125rem -0.375rem rgba(29,161,242,.8);
}
.btn__youtube:hover, .btn__youtube:focus, .btn__youtube:active {
	border-color: red;
	background-color: red;
	-webkit-box-shadow: 0 .375rem 1.125rem -0.375rem rgba(255,0,0,.8);
	box-shadow: 0 .375rem 1.125rem -0.375rem rgba(255,0,0,.8);
}
.opacity__80 {
	opacity: .8;
}
/* End: Footer__Section */


/* Start: Back__To__Top */
.dark__theme .scroll__top {
	background-color: rgba(255,255,255,.15);
}
.scroll__top {
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 2.80rem;
	width: 2.80rem;
	right: 30px;
	bottom: 20px;
	background-color: #c3c3c7;
	font-size: .875rem;
	z-index: 99999;
	border-radius: 50%;
}
.scroll__top:hover {
	background-color: rgba(19,16,34,.5);
	color: #fff;
}
.dark__theme .scroll__top:hover {
	background-color: rgba(255,255,255,.3);
}
.scroll__top:hover > .btn-scroll-top-tooltip {
	visibility: visible;
	opacity: 1;
}
.btn-scroll-top-tooltip {
	position: absolute;
	top: 50%;
	right: 100%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: opacity .25s ease-in-out,visibility .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out,visibility .25s ease-in-out;
	transition: opacity .25s ease-in-out,visibility .25s ease-in-out;
	visibility: hidden;
	opacity: 0;
}
/* End: Back__To__Top */


/* Start: Responsive__Media */
@media (min-width: 768px) { 
    .w-md-auto {
        width: auto !important;
    }
}
    /* min-width */
@media (min-width: 992px) { 
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .875rem;
        padding-left: .875rem;
    }
	.w-lg-auto {
        width: auto !important;
    }
}
@media (min-width: 1400px) { 
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1140px;
	}
	.navbar__icon {
		right: 22rem;
	}
}

    /* max-width */
@media (max-width: 991.98px) { 
	.navbar-collapse {
		background-color: var(--light-color, #ffffff);
		max-width: 100%;
		position: fixed;
		overflow-x: hidden;
		overflow-y: scroll;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1045;
		-webkit-box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
		box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
		width: 21rem;
		-webkit-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.navbar-collapse {
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
	}
	.navbar-collapse.show {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	.navbar__header, .navbar__footer {
		padding: 1.125rem 1.5rem;
	}
	.border__bottom {
		border-bottom: 1px solid #e2e5f1;
	}
	.dark__theme .border__bottom {
		border-color: rgba(255,255,255,.15) !important;
	}
	.navbar__header__body {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		padding: 1.5rem 1.5rem;
		overflow-y: auto;
	}
	.navbar-toggler:focus {
		-webkit-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	.navber__wrap {
        .navbar__icon {
            right: 4rem;
        }
    }
}
@media (max-width: 1399.98px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 100%;
	}
}
/* End: Responsive__Media */